html {
    height: 100%;
    width: 100%;
    
}
body {
    background: #82B64A;
    width: 100%;
    height: 100%;
}

#container {
    background: #D6620F;
    border-radius: 20px;
    width: 960px;
    margin: 0 auto;
    height: 800px;
    overflow: hidden;
    font-family: Calibri;
    
}

/*   TABS  */

#tabs {
    border-radius: 5px; 
    margin: 20px;
    height: 530px;
    font-family: Calibri;
}

.tabs-labels {
    background: #FC0;
}

.tabs-labels a {
    outline: none;
}

#charge-rows {
    height: 400px;
}

/*   CHARGES  */
#charges-details {
    color: #fff;
    height: 460px;
}

#totals {
    background-color: #ff9;
}

.grand-total {
    background: #ffcc00;
    height: 30px;
}

.charges-td {
    text-align: center;
    width: 33%;
    height: 20px;
    vertical-align: middle;
}

.charges-tr {
    background: #82B64A;
    border: 5px solid #fff;
    border-left: 0px;
    border-right: 0px;
    margin: 10px 0px;
    font-size: 15px;
}

.charge {
    width: 100%;
}

#new-charge {
    float: left;
    margin-left: 20px;
}

#short-info {
    float: right;
    margin-right: 20px;
}

.table-header {
    background: #32bfdd;
}

.table-header td {
    height: 30px;
    vertical-align: middle;
}

.side-block {
    background: #fff;
    border-radius: 5px; 
    height: 200px;
    width: 450px;
}

/*   progress bar  */
#progressbar {
    background: #e3fcc9;
    display: inline-block;
    float: left;
    height: 30px;
    margin: -5px 0px 0px 20px;
    width: 290px;
}

.ui-widget-header {
    background-color: #82B64A;
}

/*   add charge  */

#charge-desc {
    width: 300px;
}

.side-block-row {
    margin-left: 20px;
    margin-top: 20px;
}

.fleft {
    float: left;
}

.cash-left {
    margin-top: 65px;
}

.side-block-row span {
    margin-right: 10px;
}

/*   Options/Statistics  */

.middleFont {
    font-size: 15px;
}